.about-container {
  width: 60%;
  margin: 50px auto; }
  .about-container .about-body, .about-container .about-header {
    width: 100%;
    padding: 25px 40px; }
  .about-container .about-header {
    background-color: #9FF1A2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center; }
    .about-container .about-header h1 {
      font-size: 3.6rem;
      color: black;
      margin: 0; }
  .about-container .about-body {
    font-size: 1.8rem;
    background: white; }
    .about-container .about-body p {
      text-align: justify; }

@media only screen and (max-width: 1100px) {
  .about-container {
    width: 84%; } }
@media only screen and (max-width: 700px) {
  .about-container .about-header h1 {
    font-size: 4.6em; }
  .about-container .about-body p {
    font-size: 0.9em; } }
@media only screen and (max-width: 600px) {
  .about-container {
    width: 86%; } }
@media only screen and (max-width: 500px) {
  .about-container {
    width: 100%; }

  .about-body, .about-header {
    padding-left: 7%;
    padding-right: 7%; }

  .about-body ul {
    padding: 0;
    font-size: 0.9em; }

  .about-header #contactsHeader {
    text-align: center; } }
@media only screen and (max-width: 381px) {
  .about-container .about-header h1 {
    font-size: 3.6em; }

  .about-container .about-body p {
    font-size: 0.7em; } }
@media only screen and (min-width: 1600px) {
  .about-container {
    margin-bottom: 200px; } }
